<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Tests Suite">
    <parameter name="browser" value="chrome"></parameter>
    <test verbose="2" preserve-order="true" name="E:/QA Full Stack Learning  Training/QA manual to Automation/REST using Postman Automation/Rest API Step By Step Notes/APIFramework/P_Signal_Autoamtion">
         <classes>
             <class name="Tests.TestOnFirstPage"></class>
         </classes>
    </test>
</suite>
